/* .banner-image {
    background-image: url(../src/assets/banner.jpg);
    background-size: cover;
    height: 250px;
    /* width: 900px; */
    /* border-radius: 15px;
    box-shadow: 0 0 0 2px transparent; 
    outline: 2px solid #f8f7f7; 
    outline-offset: 4px; 
} */ 